body {
  background-color: #f3f3f3;
}
section {
  display: grid;
  grid-template-columns: 50vw 30vw;
}

.page-title {
  text-align: center;
  font-size: 34px;
  color: #6237a5;
}

.title {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9b9bdb;
}

.recent-scores {
  margin: 0 5vw;
}

ul {
  padding: 0;
  list-style-type: none;
  border: 2px solid #9b9bdb;
}

ul.striped,
li:nth-child(even) {
  background: #9b9bdb;
}

form {
  display: flex;
  flex-direction: column;
}

.input-value {
  margin: 5px 0;
  border: 2px solid #9b9bdb;
  color: #9b9bdb;
}

.input-button {
  align-self: flex-end;
}

.button {
  border: 2px solid #ffffff;
  background-color: #9b9bdb;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 10px;
}

.button:hover {
  background-color: #ffffff;
  border: 2px solid #9b9bdb;
  color: #9b9bdb;
}
